

body {
    background-color: #6f9e80;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }
  
  
  .links{
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: #bdc3c7;
  }
  
  .links a{
      width: 100px;
      height: 100px;
  }
  
  .links a img{
      width: 100%;
      height: 100%;
  }
  
  header {
    display: flex;  /* располагаем элементы по горизонтали*/
    justify-content: space-between; /* первый элемент по левому краю, второй (это див) по правому*/
    align-items: center; /*выравниваем по вертикали по высоте логотипа*/
    padding: 20px; /*внутренний отступ в шапке*/
  }

  .header__logo { /*логотип*/
    height: 30px; /*Выставить высоту будет достаточно, ширина автоматически подстроится под высоту. */
  }

  a {
    text-decoration: none;
    color: #213053;
  }

  header a { /*для всех тегов <a> внутри тега <header>*/
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
  }

  button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer; /*делает так, чтобы при наведении на кнопку мышка была в виде указателя;*/
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
  }

  button:hover{
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  }

  .about__image {
    width: 500px;
  }
   
  .about__sun—image {
    width: 100px;
    height: 100px;
  }

  .about {
    display: flex;
    justify-content: space-around; /*распределяем элементы по горизонтали*/
    align-items: center; /*выравниваем по вертикали*/
    padding-top: 115px;
    padding-bottom: 115px;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about h1 {
      font-size: 70px; /*размер шрифта*/
      line-height: 76px;  /*высота строчки*/
  }

  .about p {
    font-size: 18px; /*размер шрифта*/
    font-weight: 400;
    line-height: 30px;  /*высота строчки*/
    opacity: 0.8;
}

.about button {
    font-size: 18px; /*размер шрифта*/
    border-radius: 20px; /*закругление*/
    padding: 20px 25px;
    margin-top: 20px
}

.about__info {
    max-width: 550px;
  }

  .form__container {
    width: 550px;
  }

  .form {
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form h1 {
    font-size: 48px;
  }

  .form p {
    font-size: 18px;
    opacity: 0.65;
  }

  .form__group {
    display: flex; /*элементы выстроятся по левому краю*/
    flex-direction: column; /*меняем главную ось на вертикаль - элементы станут блочными и выстроятся друг под другом и растянутся по ширине*/
    text-align: left; /*Выравниваем подписи по левому краю*/
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px
  }

  .form form {
    display: grid;
    grid-gap: 20px;
    margin-top: 60px;
  }

  .form label {
    font-size: 18px;
    margin-bottom: 15px;
  }

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;
}

select {
  appearance: none;
}

input {
  outline: none;
}